*.egg
*.egg-info
*.mo
*.py[cod]
*.so
*~
.*.swp
.*sw?
.coverage
.eggs
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.testrepository
.tox
.venv
.vscode/
AUTHORS
ChangeLog
bin
boilerplate/
build
develop-eggs
dist
doc/build
eggs
lib
lib64
nosetests.xml
output/
output/*.html
output/*/index.html
parts
pip-log.txt
sdist
test-output/
var
venv/
