Faker==1.0.0
Sphinx==1.8.2
bpython
flake8==3.6.0
pydocstyle==3.0.0
pylint==2.2.2
pytest-cov==2.6.0
pytest-mock==1.10.0
pytest-socket==0.3.1
pytest==4.0.1
q==2.6
sphinx-bootstrap-theme==0.6.5
sphinx-click==1.3.0
tox==3.5.3
wheel==0.32.3
yapf==0.25.0
