Faker==0.8.7
Sphinx==1.7.6
bpython
flake8==3.5.0
pydocstyle==2.1.1
pylint==2.0.0
pytest-cov==2.5.1
pytest-mock==1.10.0
pytest==3.6.3
q==2.6
sphinx-bootstrap-theme==0.6.5
tox==3.1.2
wheel==0.31.1
yapf==0.22.0
